@model List<AppUser>
@{
    ViewBag.Title = "ProductList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="panel">
    <header class="panel-heading">
        Ürün Eklemek icin lütfen @Html.ActionLink("Tıklayınız", "AddProduct")
    </header>
    <div class="panel-body">
        <div class="adv-table">
            <table cellpadding="0" cellspacing="0" border="0" class="display table table-bordered" id="hidden-table-info">
                <thead>
                    <tr>
                        <th>Kullanıcı İsmi</th>
                        <th>Kullanıcı Sifresi</th>
                        <th>İsmi</th>
                        <th>Soyismi</th>
                        <th class="hidden-phone">Email</th>
                        <th class="hidden-phone">Rolü</th>
                        <th class="hidden-phone">Statüsü</th>
                        <th>Yasaklı mı</th>
                        <th>Puanı</th>
                        <th class="hidden-phone"> Sil</th>
                        <th class="hidden-phone">Güncelle</th>


                    </tr>
                </thead>
                <tbody>

                    @foreach (AppUser item in Model)
                    {
                        <tr class="gradeX">
                            <td>@item.UserName</td>
                            <td>
                                @item.Password
                            </td>
                            @if (item.AppUserDetail == null)
                            {
                                <td class="hidden-phone">Belirtilmemiş</td>
                                <td class="hidden-phone"> Belirtilmemiş</td>
                            }
                            else
                            {
                                <td class="hidden-phone">@item.AppUserDetail.FirstName</td>
                                <td class="hidden-phone">@item.AppUserDetail.LastName</td>
                            }

                            <td class="center hidden-phone">@item.Email</td>
                            <td class="center hidden-phone">  @item.Role</td>
                            <td>
                                @item.Status
                            </td>
                            <td>@item.IsBanned</td>
                            <td>@item.Point</td>
                            <td class="center hidden-phone">@Html.ActionLink("Sil", "DeleteProduct", new { id = item.ID }, new { @class = "btn btn-danger" })</td>
                            <td class="center hidden-phone"> @Html.ActionLink("Güncelle", "UpdateProduct", new { id = item.ID }, new { @class = "btn btn-warning" })  </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</section>

