@using PagedList
@using PagedList.Mvc
@model PAVM


@section Sepet{

    <li><a href="@Url.Action("CartPage","Shopping")"><i class="icon-shopping-cart"></i> Cart</a></li>
}

<span style="color:red">@TempData["sepetBos"]</span>
<span style="color:red">@TempData["odeme"]</span>
<span style="color:red">@TempData["sorun"]</span>

@{
    ViewBag.Title = "ShoppingList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-3">
        <section class="panel">
            <div class="panel-body">
                <input type="text" placeholder="Keyword Search" class="form-control">
            </div>
        </section>
        <section class="panel">
            <header class="panel-heading">
                Category
            </header>
            <div class="panel-body">
                <ul class="nav prod-cat">
                    <li>
                        <a href="#" class="active"><i class=" icon-angle-right"></i> Dress</a>
                        <ul class="nav">
                            <li class="active"><a href="#">- Shirt</a></li>
                            <li><a href="#">- Pant</a></li>
                            <li><a href="#">- Shoes</a></li>
                        </ul>
                    </li>
                    <li><a href="#"><i class=" icon-angle-right"></i> Bags & Purses</a></li>
                    <li><a href="#"><i class=" icon-angle-right"></i> Beauty</a></li>
                    <li><a href="#"><i class=" icon-angle-right"></i> Coat & Jacket</a></li>
                    <li><a href="#"><i class=" icon-angle-right"></i> Jeans</a></li>
                    <li><a href="#"><i class=" icon-angle-right"></i> Jewellery</a></li>
                    <li><a href="#"><i class=" icon-angle-right"></i> Electronics</a></li>
                    <li><a href="#"><i class=" icon-angle-right"></i> Sports</a></li>
                    <li><a href="#"><i class=" icon-angle-right"></i> Technology</a></li>
                    <li><a href="#"><i class=" icon-angle-right"></i> Watches</a></li>
                    <li><a href="#"><i class=" icon-angle-right"></i> Accessories</a></li>
                </ul>
            </div>
        </section>
        <section class="panel">
            <header class="panel-heading">
                Price Range
            </header>
            <div class="panel-body sliders">
                <div id="slider-range" class="slider"></div>
                <div class="slider-info">
                    <span id="slider-range-amount"></span>
                </div>
            </div>
        </section>
        <section class="panel">
            <header class="panel-heading">
                Best Seller
            </header>
            <div class="panel-body">
                <div class="best-seller">
                    <article class="media">
                        <a class="pull-left thumb p-thumb">
                            <img src="img/product1.jpg">
                        </a>
                        <div class="media-body">
                            <a href="#" class=" p-head">Item One Tittle</a>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                    </article>
                    <article class="media">
                        <a class="pull-left thumb p-thumb">
                            <img src="img/product2.png">
                        </a>
                        <div class="media-body">
                            <a href="#" class=" p-head">Item Two Tittle</a>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                    </article>
                    <article class="media">
                        <a class="pull-left thumb p-thumb">
                            <img src="img/product3.png">
                        </a>
                        <div class="media-body">
                            <a href="#" class=" p-head">Item Three Tittle</a>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                    </article>
                </div>
            </div>
        </section>
    </div>
    <div class="col-md-9">
        <section class="panel">
            <div class="panel-body">


                <div class="pull-right">
                    <ul class="pagination pagination-sm pro-page-list">
                        @Html.PagedListPager(Model.PagedProduct, page => Url.Action("ShoppingList", new { page }))
                    </ul>
                </div>
            </div>
        </section>
        <div class="row product-list">

            @foreach (Product item in Model.PagedProduct)
            {
                <div class="col-md-4">
                    <section class="panel">


                        <div class="pro-img-box">




                            <img width="100" height="300" src="@item.ImagePath" alt="Resim yok" title="@item.ProductName" />
                            <a href="@Url.Action("AddToCart",new { id=item.ID})" class="adtocart">
                                <i class="icon-shopping-cart"></i>
                            </a>
                        </div>
                        <div class="panel-body text-center">
                            <h4>
                                <a href="#" class="pro-title">
                                    @item.ProductName.Substring(0, 3) ...
                                </a>
                            </h4>
                            <p class="price">$@item.UnitPrice</p>
                        </div>
                    </section>
                </div>
            }


        </div>
    </div>
</div>

